@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

section {
  background-color: #f2f2f281;
 padding-left: 20px;
  padding-right: 20px;
}

footer {
  padding-left: 20px;
  padding-bottom: 30px;
  background-color: #f2f2f281;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

aside {
  background-color: #f2f2f281;
   display: grid;
  grid-template-rows: 10% 20% 20% 20%;
  grid-row-gap: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.Hebergement {
  padding-top: 10px;
}

nav {
  display: grid;
  grid-template-columns: 70% 30%;
}

.HebergementActivitees {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.Filtres {
  margin-top: 20px;
display: grid;
grid-template-columns: 5% 50%;
}

.AllFilter {
  display: grid;
  grid-template-columns:170px 170px 170px 170px;
  grid-column-gap: 20px;
}

.icon {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-radius: 30px;
  border-color: #deebff;
}
.icon:hover{
  color: #0065fc;

}

.contentsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.LiensSection{
  text-decoration: none;
  color: black;
}
h6{
  color: #706f6f;
}
.CarteHebergement {
  width: 25%;
  max-height: 30%;
  background-color: white;
  border-radius: 30px;
  border-style: solid;
  border-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  box-shadow: 0.3px 0.5px 1px rgba(0, 0, 0, 5%),
    2px 4px 8px rgba(0, 0, 0, 10%);
}

.texteHebergement {
  margin-left: 10px;
  max-width: 100%;
}

.TextePopulaire {
  margin-left: 10px;
}

.cartepopulaire {
  color: black;
  text-decoration: none;
  display: flex;
  background-color: white;
  border-radius: 30px;
  border-style: solid;
  border-color: white;
  box-shadow: 0.3px 0.5px 1px rgba(0, 0, 0, 5%),
    2px 4px 8px rgba(0, 0, 0, 10%);
}

.populaire {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.Hebergementetpluspopulaire {
display: grid;
grid-template-columns: 66% 33%;
grid-column-gap: 20px;
}

.photoHotelsoleildumatin {
  width: 40%;
  max-height: 100%;
  border-radius: 30px;
}

.photoAucoeurdeleau-chambre-dhotes {
  width: 40%;
  border-radius: 30px;
  max-height: 100%;
}

.photoHoteltoutbleueetblanc {
  width: 40%;
  border-radius: 30px;
  max-height: 100%;
}

.photoAuBergeCannebiere {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.photoHotelduport {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.photoHotellesmouettes {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.photoHoteldelamer {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.photoHotelchezAmina {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.photoAubergelePanier {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.photoVieuxport {
  border-radius: 20px 20px 0 0;
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.photoFort {
  border-radius: 20px 20px 0 0;
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.photoiles {
  border-radius: 20px 20px 0 0;
  height: 75%;
  max-width: 100%;
  object-fit: cover;
}

.photoCalanques {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.photoDamedelagarde {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.photolomgchamp {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 80%;
}

figure {
  margin-bottom: 40px;
  max-width: 100%;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  display: grid;
  grid-template-columns: 27% 20% 27% 20%;
  grid-column-gap: 20px;
}
.fortiles{
  display: grid;
  grid-template-rows: 60% 40%;
}
.DameParc{
  display: grid;
  grid-template-rows: 50% 50%;
}
.etoilebleu {
  color: #0065fc;
}

.etoilevide {
  color: #f2f2f2;
}
.fa-map-marker-alt{
  background-color: #f2f2f2;
  padding: 5px 10px 6px 15px;
  border-radius: 10px 0 0 10px;
}
.textpersobarrederecherche{
  border-style: solid;
  border-color: #f2f2f2;
  height: 21px;
}
.bouton-perso{
  background-color: #0065fc;
  color: white;
  border-radius: 0 20px 20px 0;
  height: 25px;
}
.logoinfo{
  color: #0065fc;
}
.logo{
  color: #0065fc;
  background-color: #deebff;
  border-radius: 30px;
  width: 25px;
  height: 20px;
}
.Hebergementnav:hover {
  border-top: 3px #0065fc solid;
  color: blue;
}
.Hebergementnav{
  padding-left: 14px;
  color: #706f6f;
  text-decoration: none;
}

.Activites01:hover {
  border-top: 3px #0065fc solid;
  color: blue;
}
.Activites01{
  padding-left: 30px;
  color: #706f6f;
  text-decoration: none;
}
.Inscrire{
  color: #706f6f;
  text-decoration: none;
}
.ContentActivity{
  width: 100%;
  height: 100%;
  border: 3px #f2f2f2 solid;
  border-radius: 30px;
  box-shadow:  0.3px 0.5px 1px rgb(0 0 0 / 5%), 2px 4px 8px rgb(0 0 0 / 10%);
 }
.Vieuxport{
  text-decoration: none;
  color: black;
}
.Fortdepomègues{
  text-decoration: none;
  color: black;
}
.ilesdufrioul{
  text-decoration: none;
  color: black;
}
.ParcNationaldesCalanques{
  text-decoration: none;
  color: black;
}
.Notre-Dame-de-la-Garde{
  text-decoration: none;
  color: black;
}
.ParcdeLomgchamp{
text-decoration: none;
color: black;
}



                                                     /* Version Mobile */


 @media screen and (max-width: 575px) {
.Hebergementetpluspopulaire{
  display: flex;
  flex-direction: column-reverse;
}
aside{
  width: 100%;
  grid-template-rows: 23% 23% 23% 23%;
  grid-row-gap: 24px;
}
section{
  width: 100%;
}
.CarteHebergement{
  width: 90%;
  }
figure{
  width: 100%;
display: block;
}
.Filtres{
  display: block;
}
.AllFilter{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-row-gap: 10px;
}
.icon4{
  grid-row-end: 4;
}
nav{
  display: block;
}
.HebergementActivitees{
  grid-template-columns: 50% 50%;
}
.Inscrire{
  position: absolute;
  top: 7px;
  right: 20px;
}
.Hebergementnav{
  padding-left: 30px;
}
.Activites01{
  padding-left: 30px;
}
.Hebergementnav:hover {
  border-top: none;
  border-bottom: 3px #0065fc solid;
  color: blue;
}

.Activites01:hover {
  border-top: none;
  border-bottom: 3px #0065fc solid;
  color: blue;
}

 }  