@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  font-family: "Raleway";
}
img{
  object-fit: cover;
}

body{
  max-width: 100%;
}
section {
  width: 100%;
  background-color: #f2f2f281;
 padding-left: 20px;
  padding-right: 20px;
}

footer {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  background-color: #f2f2f281;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

aside {
  background-color: #f2f2f281;
   display: grid;
  grid-template-rows: 10% 20% 20% 20%;
  grid-row-gap: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.Hebergement {
  padding-top: 10px;
}

nav {
  display: grid;
  grid-template-columns: 60% 40%;
}

.HebergementActivitees {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.Filtres {
  margin-top: 20px;
display: grid;
grid-template-columns: 5% 50%;
}

.AllFilter {
  margin-top: 10px;
  display: grid;
  grid-template-columns:170px 170px 170px 190px;
  grid-column-gap: 20px;
}

.icon {
  height: 37px;
  font-weight: bold;
  display: flow-root;
  flex-wrap: wrap;
  border-style: solid;
  border-radius: 30px;
  border-color: #deebff;
}
.icon:hover{
  color: #0065fc;

}

.contentsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.LiensSection{
  text-decoration: none;
  color: black;
}
h6{
  color: #706f6f;
}
.CarteHebergement {
  width: 25%;
  max-height: 30%;
  background-color: white;
  border-radius: 30px;
  border-style: solid;
  border-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  box-shadow: 0.3px 0.5px 1px rgba(0, 0, 0, 5%),
    2px 4px 8px rgba(0, 0, 0, 10%);
}

.texteHebergement {
  margin-left: 10px;
  max-width: 100%;
}

.TextePopulaire {
  margin-left: 10px;
}

.cartepopulaire {
  color: black;
  text-decoration: none;
  display: flex;
  background-color: white;
  border-radius: 30px;
  border-style: solid;
  border-color: white;
  box-shadow: 0.3px 0.5px 1px rgba(0, 0, 0, 5%),
    2px 4px 8px rgba(0, 0, 0, 10%);
}

.populaire {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.Hebergementetpluspopulaire {
  width: 100%;
display: grid;
grid-template-columns: 60% 33%;
grid-column-gap: 7%;
}

.photoHotelsoleildumatin {
  width: 40%;
  max-height: 100%;
  border-radius: 30px 0 0 30px;
}

.photoAucoeurdeleau-chambre-dhotes {
  width: 40%;
  border-radius: 30px 0 0 30px;
  max-height: 100%;
}

.photoHoteltoutbleueetblanc {
  width: 40%;
  border-radius: 30px 0 0 30px;
  max-height: 100%;
}

.photoAuBergeCannebiere {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.photoHotelduport {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.photoHotellesmouettes {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.photoHoteldelamer {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.photoHotelchezAmina {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.photoAubergelePanier {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.photoVieuxport {
  border-radius: 20px 20px 0 0;
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.photoFort {
  border-radius: 20px 20px 0 0;
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.photoiles {
  border-radius: 20px 20px 0 0;
  height: 75%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

.photoCalanques {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.photoDamedelagarde {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.photolomgchamp {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 80%;
}

figure {
  max-height: 500px;
  margin-bottom: 40px;
  max-width: 100%;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  display: grid;
  grid-template-columns: 27% 20% 27% 20%;
  grid-column-gap: 20px;
}
.fortiles{
  max-height: 500px;
  display: grid;
  grid-template-rows: 65% 35%;
}
.DameParc{
  max-height: 500px;
  display: grid;
  grid-template-rows: 55% 45%;
}
.etoilebleu {
  color: #0065fc;
}

.etoilevide {
  color: #f2f2f2;
}
.fa-map-marker-alt{
  background-color: #f2f2f2;
  padding: 5px 10px 6px 15px;
  border-radius: 10px 0 0 10px;
}
.textpersobarrederecherche{
  width: 130px;
  border-style: solid;
  border-color: #f2f2f2;
  height: 21px;
}
.bouton-perso{
  background-color: #0065fc;
  color: white;
  border-radius: 0 20px 20px 0;
  height: 25px;
}
.logoinfo{
  color: #0065fc;
}
.logo{
  padding-top: 7px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 30px;
  width: 31px;
  height: 30px;
  padding-left: 5px;
}
.fa-search{
  
  color: #0065fc;
}
.Hebergementnav:hover {
  border-top: 3px #0065fc solid;
  color: blue;
}
.Hebergementnav{
  border-top: 3px white solid;
  padding-left: 14px;
  color: #706f6f;
  text-decoration: none;
}

.Activites01:hover {
  border-top: 3px #0065fc solid;
  color: #0065fc;
}
.Activites01{
  border-top: 3px white solid;
  padding-left: 30px;
  color: #706f6f;
  text-decoration: none;
}
.Inscrire{
  border-top: 3px white solid;
  color: blue;
  text-decoration: none;
}
.ContentActivity{
  width: 100%;
  height: 100%;
  border: 3px #f2f2f2 solid;
  border-radius: 30px;
  box-shadow:  0.3px 0.5px 1px rgb(0 0 0 / 5%), 2px 4px 8px rgb(0 0 0 / 10%);
 }
.Vieuxport{
  max-height: 500px;
  text-decoration: none;
  color: black;
}
.Fortdepomègues{
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
}
.ilesdufrioul{
  text-decoration: none;
  color: black;
}
.ParcNationaldesCalanques{
  max-height: 500px;
  text-decoration: none;
  color: black;
}
.Notre-Dame-de-la-Garde{
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
}
.ParcdeLomgchamp{
text-decoration: none;
color: black;
}
.Afficher{
  text-decoration: none;
  color: black;
}
h4{
  margin-left: 20px;
}
.fa-chart-line{
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
  font-size: 1.5em;
}


                                                     /* Version Mobile */


 @media screen and (max-width: 575px) {
.Hebergementetpluspopulaire{
  display: flex;
  flex-direction: column-reverse;
}
aside{
  width: 94%;
  grid-template-rows: 12% 24% 24% 24%;
  grid-row-gap: 24px;
}
section{
  background-color: white;
  margin-top: 30px;
  max-width: 90%;
}
.CarteHebergement{
  width: 90%;
  }
figure{
  max-height: none;
  width: 95%;
display: block;
margin-inline-start: 5px;
margin-inline-end: 0px;
}
h3{
  font-size: larger;
}

.fortiles{
  max-height: none;
  grid-template-rows: 50%;
}
.DameParc{
  max-height: none;
  grid-template-rows: 50%;
}
.bouton-perso{
  color: #0065fc;
 
}
.fa-search{
  color: white;
  width: auto;  
}
.Filtres{
  display: block;
}
.AllFilter{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-row-gap: 10px;
  grid-column-gap: 0px;
}
.icon4{
  width: 110%;
  grid-row-end: 4;
}
nav{
  width: 100%;
  display: block;
  border-bottom: 2px #f2f2f2 solid;
}
.HebergementActivitees{
  grid-template-columns: 50% 50%;
}
.Inscrire{
  position: absolute;
  top: 7px;
  right: 20px;
}
.Hebergementnav{
  padding-left: 30px;
}
.Activites01{
  padding-left: 30px;
}
.Hebergementnav:hover {
  border-top: none;
  border-bottom: 3px #0065fc solid;
  color: blue;
}
.cartepopulaire{
  height: 165px;
}
.Activites01:hover {
  border-top: none;
  border-bottom: 3px #0065fc solid;
  color: blue;
}
footer{
  padding-left: 5px;
  margin-inline-start: 0px;
  display: block;
  width: 100%;
}
.ContentActivity{
  margin-bottom: 30px;
  max-height: 280px;
  height: 400px;
  padding-bottom: 30px;
}
.CarteHebergement{
  max-height: 300px;
  margin-bottom: 30px;
}
.photoAuBergeCannebiere {
  width: 100%;
  height: 55%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.photoHotelduport {
  width: 100%;
  height: 60%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.photoHotellesmouettes {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 60%;
  object-fit: cover;
}

.photoHoteldelamer {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 60%;
  object-fit: cover;
}

.photoHotelchezAmina {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 60%;
  object-fit: cover;
}

.photoAubergelePanier {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 60%;
  object-fit: cover;
}
.Notre-Dame-de-la-Garde{
  margin-bottom: 0px;
}
.Fortdepomègues{
  margin-bottom: 0px;
}
.Vieuxport{
  max-height: none;
}
.photoiles{
  height: 85%;
}
 }  

                                 /*  Version Tablette */

@media screen and (min-width: 576px) and (max-width:992px){

  nav{
    grid-template-columns: 50% 50%;
  }
  .AllFilter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-row-gap: 10px;
  }
.Hebergementetpluspopulaire{
  display: flex;
  flex-direction: column-reverse;
}  
.Filtres{
  display: inline-table;
}
.DameParc{
  grid-template-rows: 40%;
  grid-row-gap: 40px;
}
section{
  padding-left: 0px;
}
aside{
  grid-row-gap: 40px;
  grid-template-rows: 5% 25% 25% 25%;
  }
  figure{
    margin-inline-end: 30px;
  }
  .Notre-Dame-de-la-Garde{
    margin-bottom: 0px;
  }
  .photoDamedelagarde{
    height: 65%;
  }
  .photolomgchamp{
    height: 70%;
  }
  .photoFort{
    height: 70%;
  }
  .photoCalanques{
    height: 85%;
  }
}